body {
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Audiowide|Inconsolata&display=swap');
.terminal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr min-content;
}

.items {
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, #110933 25%, #200933 55%, #3d0b43);
    background-color: #200933;
    background-size: auto 100vh;
    background-position: top;
    background-repeat: no-repeat;
    grid-area: 1 1;
    overflow: scroll;
}

.command {
    color: #ffcc00;
    font-family: 'Inconsolata', monospace;
    background-color: #200933;
    display: grid;
    align-items: center;
    grid-area: 2 1;
    height: 2em;
    grid-template-columns: max-content max-content 1fr max-content;
    isolation: isolate;
}

.host {
    z-index: 3;
    height: 100%;
    vertical-align: middle;
    padding: 0.25em 1.25em 0 0.5em;
    display: inline-block;
    grid-area: 1;
    background-color: hsl(315, 74%, 18%);
    clip-path: polygon(0 0, calc(100% - 0.75em) 0, 100% 50%, calc(100% - 0.75em) 100%, 0 100%);
}

.prompt {
    z-index: 2;
    height: 100%;
    vertical-align: middle;
    padding: 0.25em 1.25em 0 2em;
    margin-left: -1.5em;
    display: inline-block;
    grid-area: 1 2;
    background-color: hsl(294, 72%, 15%);
    clip-path: polygon(0 0, calc(100% - 0.75em) 0, 100% 50%, calc(100% - 0.75em) 100%, 0 100%);
}

.run {
    display: inline-block;
    padding: 0 0.5em;
    grid-area: 1 3;
    color: #ffcc00;
    background-color: hsl(273, 70%, 12%);
    border-style: none;
}

.run:focus {
    border-style: none;
    outline-width: 0;
}

.time {
    z-index: 2;
    height: 100%;
    vertical-align: middle;
    padding: 0.25em 0.5em 0 1.25em;
    display: inline-block;
    grid-area: 1 4;
    background-color: hsl(294, 72%, 15%);
    clip-path: polygon(0 50%, 0.75em 0, 100% 0, 100% 100%, 0.75em 100%);
}

.item {
    position: relative;
}

.item:hover>.command {
    text-shadow: 0 0 2px #100c0f, 0 0 3px #ffaa0099, 0 0 5px #ffaa0099, 0 0 10px #ffaa0099;
}

.output {
    position: relative;
    color: #9963ff;
    font-family: 'Inconsolata', monospace;
    padding: 0 0.5em;
    background-color: hsl(273, 70%, 12%);
    white-space: pre;
    /*background-color: #110933;*/
}


/*
.output:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(to right, #fc28a8, #03edf9) !important;
    opacity: 1;
    z-index: 6;
}
*/


/* scan lines */

.output:before {
    background-image: repeating-linear-gradient(to bottom, transparent 0, transparent 2px, #FFF 2px, #FFF 4px);
    background-size: 100% 4px cover;
    transform-origin: 50% 50%;
    content: '';
    opacity: 0.05;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* GRID
.items:after {
    content: '';
    height: 300px;
    width: 100%;
    display: block;
    background-image: linear-gradient(90deg, rgba(252, 25, 154, .1) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(0deg, rgba(252, 25, 154, .1) 1px, rgba(0, 0, 0, 0) 1px);
    background-position: bottom;
    background-repeat: repeat;
    background-size: 20px 20px;
    left: -25px;
    position: absolute;
    pointer-events: none;
    bottom: 0;
    transform: perspective(100px) rotateX(60deg);
    z-index: 0;
}
*/

::selection {
    background-color: #34294f59;
}

.green1 {
    color: rgb(141, 245, 122);
}

.green2 {
    color: rgb(86, 188, 55);
}

.red1 {
    color: rgb(237, 117, 108);
}